.skillsWrapper{
    display: flex;
    justify-content: center;
    gap: var(--space-l);
    align-items: center;
    flex-wrap: wrap;
}

.skillsWrapper img, .skillSkeleton{
    max-width: 48px;
    max-height: 48px;
    transition: all .2s ease-in-out;
}

.hero .skillsWrapper img:hover{
    scale: 1.1;
}

.skillsWrapper img[src="/icons/expressjs.svg"]{
    background-color: hsla(0, 0%, 98%, 1);
    border-radius: .2rem;
    padding: 0 .2rem;
}