.hero, .heroSkeleton{
    display: grid;
    grid-template-columns: 60% 400px;
    grid-template-rows: 60% 40%;
    height: 100dvh;
    padding: 0 var(--space-xs);
    max-width: 100%;
    grid-template-areas: 
    "text image"
    "skills image";
    gap: 0 var(--space-xs);
    justify-content: space-between;
}

.heroTextContainer, .heroSkeletonTextContainer{
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: var(--space-xl) 0;
    justify-content: center;
    grid-area: text;
}

.hero_title, .hero_subtitle, .hero_paragraph{
    text-align: center;
}

.hero_title{
    text-transform: uppercase;
    color: var(--text-primary);
    font-size: var(--font-size-h2);
    font-weight: 700;
}

.hero_paragraph{
    font-size: var(--font-size-small);
    color: var(--text-secondary);
    width: 60%;
    align-self: center;
}

.hero_paragraph b{
    font-weight: 900;
    text-transform: uppercase;
}

.hero_subtitle{
    font-size: var(--font-size-h5);
    color: var(--text-primary);
    font-weight: 500;
    text-transform: uppercase;
    margin-top: var(--space-xl);
}

.heroSkeleton_image, .hero > img{
    height: 65dvh;
    width: 100%;
    align-self: center;
    border-radius: var(--border-radius-medium);
    background-color: var(--bg-secondary);
    grid-area: image;
}

.skillsSection, .heroSkeleton_skillsSection{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--space-xl);
    grid-area: skills;
}

.skillsSection_title{
    color: var(--text-primary);
    text-transform: uppercase;
    font-size: var(--font-size-h6);
}

.heroSkeletonTextContainer div, .heroSkeleton_skillsSection_title, .skillSkeleton{
    background-color: var(--bg-secondary);
}

.heroSkeleton_title{
    padding: var(--space-x);
    width: 90%;
    height: 70px;
    border-radius: var(--border-radius-large);
}

.heroSkeleton_paragraph{
    width: 70%;
    height: 40px;
    padding: var(--space-xs);
    border-radius: var(--border-radius-small);
}

.heroSkeleton_subtitle{
    padding: var(--space-l);
    width: 40%;
    height: 50px;
    border-radius: var(--border-radius-large);
}


.heroSkeleton_skillsSection_title{
    width: 20%;
    height: 40px;
    padding: var(--space-xs);
    border-radius: var(--border-radius-small);
}

.skillSkeleton{
    width: 48px;
    height: 48px;
    border-radius: var(--border-radius-small);
}

.heroSkeleton_skillsWrapper{
    display: flex;
    justify-content: center;
    gap: var(--space-l);
    align-items: center;
    flex-wrap: wrap;
}

@media screen and (max-width: 1020px){
    .hero, .heroSkeleton{
        display: grid;
        grid-template-columns: 50% 50%;
        grid-template-rows: 60% 40%;
        max-height: 100dvh;
        padding: 0 var(--space-xs);
        max-width: 100%;
        grid-template-areas: 
        "text image"
        "skills image"
        ;
        gap: 0 var(--space-xs);
        justify-content: space-between;
    }

    .heroTextContainer, .heroSkeletonTextContainer{
        grid-area: text;
    }

    .hero_title{
        font-size: var(--font-size-h4);
    }

    .hero_paragraph{
        font-size: var(--font-size-small);
        width: 100%;
    }

    .hero_subtitle{
        font-size: var(--font-size-h7);
        margin-top: var(--space-xl);
    }
}

@media screen and (max-width: 860px) {
    .hero, .heroSkeleton{
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: 35% 45% 20%;
        height: 100dvh;
        padding: 0 var(--space-xs);
        max-width: 100%;
        grid-template-areas: 
        "text"
        "image"
        "skills"
        ;
        gap: 0 var(--space-xs);
        justify-content: space-between;
    }

    .hero_subtitle{
        margin-top: 0;
    }

    .hero > img, .heroSkeleton_image{
        max-height: 95%;
        max-width: 320px;
        margin: auto;
    }

    .skillsSection, .skillSkeleton{
        justify-content: center;
    }

    .skillsWrapper, .heroSkeleton_skillsWrapper{
        display: flex;
        justify-content: center;
        gap: var(--space-l);
        align-items: center;
        flex-wrap: nowrap;
    }

    .heroSkeletonTextContainer{
        gap: var(--space-x) 0;
    }

    .heroSkeleton_title{
        height: 50px;
    }

    .heroSkeleton_paragraph{
        height: 25px;
    }

    .heroSkeleton_subtitle{
        height: 30px;
    }
}