@font-face {
    font-family: 'Inter';
    src: url('/fonts/Inter_24pt-Thin.ttf');
    font-weight: 100;
}

@font-face {
    font-family: 'Inter';
    src: url('/fonts/Inter_24pt-ExtraLight.ttf');
    font-weight: 200;
}

@font-face {
    font-family: 'Inter';
    src: url('/fonts/Inter_24pt-Light.ttf');
    font-weight: 300;
}

@font-face {
    font-family: 'Inter';
    src: url('/fonts/Inter_24pt-Regular.ttf');
    font-weight: 400;
}

@font-face {
    font-family: 'Inter';
    src: url('/fonts/Inter_24pt-Medium.ttf');
    font-weight: 500;
}

@font-face {
    font-family: 'Inter';
    src: url('/fonts/Inter_24pt-SemiBold.ttf');
    font-weight: 600;
}

@font-face {
    font-family: 'Inter';
    src: url('/fonts/Inter_24pt-Bold.ttf');
    font-weight: 700;
}

@font-face {
    font-family: 'Inter';
    src: url('/fonts/Inter_24pt-ExtraBold.ttf');
    font-weight: 800;
}

@font-face {
    font-family: 'Inter';
    src: url('/fonts/Inter_24pt-Black.ttf');
    font-weight: 900;
}

:root{
	--bg-primary: hsla(0, 0%, 5%, 1);
	--bg-secondary: hsla(0, 0%, 11%, 1);
	--border-color: hsla(0, 0%, 29%, 1);
	--text-primary: hsl(0, 0%, 98%);
	--text-secondary: hsla(0, 0%, 88%, 1);
  	--blue: hsla(220, 100%, 62%, 1);
  	--green: hsla(120, 80%, 50%, 1);
  	--red: hsla(0, 80%, 50%, 1);
  	--yellow: hsla(55, 80%, 50%, 1);
    --purple: hsla(280, 80%, 50% ,1);
    --purple-gradient: hsla(280, 25%, 40% ,1);
    --blue-gradient: hsla(220, 35%, 40% ,1);

  	--space-xs: min(2.5%, .25rem);
  	--space-s: min(5%, .5rem);
  	--space-m: min(10%, 1rem);
  	--space-l: min(12.5%, .75rem);
  	--space-x: min(15%, 1.5rem);
  	--space-xl: min(20%, 2rem);

  	--font-size-h1: clamp(2rem, calc(20vw + .5rem), 3.5rem);
  	--font-size-h2: clamp(1.5rem, calc(15vw + .5rem), 3rem);
  	--font-size-h3: clamp(1.1rem, calc(11vw + .5rem), 2.5rem);
  	--font-size-h4: clamp(.8rem, calc(8vw + .5rem), 2rem);
  	--font-size-h5: clamp(.5rem, calc(6vw + .5rem), 1.5rem);
  	--font-size-h6: clamp(.4rem, calc(5vw + .5rem), 1.4rem);
  	--font-size-h7: clamp(.35rem, calc(4.5vw + .5rem), 1.3rem);
  	--font-size-p: clamp(.4rem, calc(4vw + .5rem), 1.2rem);
  	--font-size-small: clamp(.1rem, calc(3vw + .5rem), 1rem);
	
  	--border-radius-small: .5rem;
  	--border-radius-medium: .8rem;
  	--border-radius-large: 1rem;
}

.darkmode{
    --bg-primary: hsla(0, 0%, 98%, 1);
	--bg-secondary: hsla(0, 0%, 88%, 1);
	--border-color: hsla(0, 0%, 39%, 1);
	--text-primary: hsl(0, 0%, 2%);
	--text-secondary: hsla(0, 0%, 12%, 1);
    --purple-gradient: hsla(280, 45%, 50% ,1);
    --blue-gradient: hsla(220, 45%, 50% ,1);
}

*{
    font-family: "Inter";
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    padding: var(--space-xs) var(--space-x);
    background-color: var(--bg-primary);
    display: flex;
    flex-direction: column;
    gap: var(--space-xl) 0;
}

.switchThemeButton{
    position: absolute;
    top: 8px;
    right: 8px;
    border: 0;
    background-color: transparent;
}